PointsConsumeWebService/Connected Services/getpointswebservice/GetPointsWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://getpointswebservice.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://getpointswebservice.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This is a simple web service to get the points by student.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://getpointswebservice.org/">
      <s:element name="GetPoints">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="studentNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPointsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetPointsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPointsSoapIn">
    <wsdl:part name="parameters" element="tns:GetPoints" />
  </wsdl:message>
  <wsdl:message name="GetPointsSoapOut">
    <wsdl:part name="parameters" element="tns:GetPointsResponse" />
  </wsdl:message>
  <wsdl:portType name="Get_x0020_Points_x0020_Web_x0020_ServiceSoap">
    <wsdl:operation name="GetPoints">
      <wsdl:input message="tns:GetPointsSoapIn" />
      <wsdl:output message="tns:GetPointsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Get_x0020_Points_x0020_Web_x0020_ServiceSoap" type="tns:Get_x0020_Points_x0020_Web_x0020_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPoints">
      <soap:operation soapAction="http://getpointswebservice.org/GetPoints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Get_x0020_Points_x0020_Web_x0020_ServiceSoap12" type="tns:Get_x0020_Points_x0020_Web_x0020_ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPoints">
      <soap12:operation soapAction="http://getpointswebservice.org/GetPoints" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Get_x0020_Points_x0020_Web_x0020_Service">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This is a simple web service to get the points by student.</wsdl:documentation>
    <wsdl:port name="Get_x0020_Points_x0020_Web_x0020_ServiceSoap" binding="tns:Get_x0020_Points_x0020_Web_x0020_ServiceSoap">
      <soap:address location="http://localhost:64906/GetPointsWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="Get_x0020_Points_x0020_Web_x0020_ServiceSoap12" binding="tns:Get_x0020_Points_x0020_Web_x0020_ServiceSoap12">
      <soap12:address location="http://localhost:64906/GetPointsWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>